{% load static %}
<html>
  <head>
    <title>Stack Overflow Clone</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'questions/css/question_styles.css' %}" />
    <link rel="stylesheet" href="{% static 'users/css/user_styles.css' %}"
  </head>
  <body class="page_body">
    {% if user.is_authenticated %}
      <div class="site_header_toolbar">
        <form id="search_form" method="get" action="{% url 'search' %}" class="question_search_form">
        {% for field in search_form %}
          {{ field }}
        {% endfor %}
        </form><div id="help_menu" class="search_help_menu hide_menu">
          <ul class="search_tips">
            <li><pre class="inline_pre">[tag]</pre> search within a tag</li>
            <li><pre class="inline_pre">user:123</pre> search by author</li>
            <li><pre class="inline_pre">"words here"</pre> exact phrase</li>
            <li><pre class="inline_pre">answers:0</pre> unanswered questions</li>
            <li><pre class="inline_pre">score:3</pre> posts with a 3+ score</li>
          </ul>
        </div>
        <div class="buttons_wrapper">
          {% if user.is_authenticated %}
            <button class="home_page_btn"><a href="{% url 'questions:mainpage' %}">Home</a></button>
            <button class="home_page_btn"><a href="{% url 'users:logout' %}">Log Out</a></button>
          {% else %}
            <button class="home_page_btn"><a href="#">Register</a></button>
            <button class="home_page_btn"><a href="{% url 'questions:mainpage' %}">Home</a></button>
            <button class="home_page_btn"><a href="#">Login</a></button>
          {% endif %}
        </div>
      </div>
    {% endif %}
    <div class="page_container">
      {% if user.is_authenticated %}
        {% block page_header %}{% endblock page_header %}
      {% else %}
        {% block page_content %}{% endblock page_content %}
      {% endif %}
    </div>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/ques.js' %}"></script>
  </body>
</html>
