{% extends 'questions/base_questions.html' %}
{% load static %}
{% block page_content %}
  <div>
    {% if query == "unanswered" %}
      {% if questions.count > 1 %}
        <p>There are {{ questions.count }} unanswered questions</p>
      {% elif questions.count == 1 %}
        <p>There is 1 unanswered question</p>
      {% endif %}
    {% else %}
      <p>{{ questions.count }} question{{ questions.count|pluralize }}</p>
    {% endif %}
    {% include 'questions/page_buttons.html' %}
  </div>
  {% include 'questions/question_list.html' %}
  {% if request.resolver_match.url_name == 'search' %}
    {% include 'questions/paginated_search.html' %}
  {% else %}
    {% include 'questions/paginated_questions.html' %}
  {% endif %}
{% endblock page_content %}
