{% extends 'questions/base_questions.html' %}
{% load static %}
{% load humanize %}
{% block page_content %}
  <div>
    <ul class="lookup_buttons">
    {% for button, active in lookup_buttons.items %}
      {% if active is True %}
        <li class="active lookup_btn"><a href="{% url 'questions:mainpage' %}?tab={{ button }}">{{ button|title }}</a></li>
      {% else %}
        <li class="lookup_btn"><a href="{% url 'questions:mainpage' %}?tab={{ button }}">{{ button|title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
  {% include 'questions/question_list.html' %}
  <p class="question_footer">Browse the <a href="{% url 'questions:paginated' %}" class="inline_link">complete list of questions</a>, or <a href="#" class="inline_link">popular tags</p>
  <script src="{% static 'js/main.js' %}"></script>
{% endblock page_content %}
