{% extends 'questions/base_questions.html' %}
{% load static %}
{% load humanize %}
{% block page_content %}
  <div>
    <ul class="lookup_buttons">
    {% for button, active in lookup_buttons.items %}
      {% if active is True %}
        <li class="active lookup_btn"><a href="{% url 'questions:mainpage' %}?tab={{ button }}">{{ button|title }}</a></li>
      {% else %}
        <li class="lookup_btn"><a href="{% url 'questions:mainpage' %}?tab={{ button }}">{{ button|title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
  <div class="questions_container">
  {% for question in questions %}
    <div class="question">
      <div class="question_data">
        {% with votes=question.votes.count %}
          <p class="stat_item">{{ votes }}</p>
          <p class="stat_item">vote{{ votes|pluralize }}</p>
        {% endwith %}
      </div>
      <div class="question_data">
        {% with answers=question.answers.count %}
          <p class="stat_item">{{ answers }}</p>
          <p class="stat_item">answer{{ answers|pluralize }}</p>
        {% endwith %}
      </div>
      <h2 class="question_title">
        <a href="{% url 'questions:question' id=question.id %}">{{ question.title }}</a>
      </h2>
      <ul class="question_tags">
      {% for tag in question.tags.all %}
        <li class="question_tag"><a href="#">{{ tag }}</a></li>
      {% endfor %}
      </ul>
      <div class="question_data_right_align">
        <p class="stat_item sml_text">asked {{ question.dated }}</p>
        <p class="stat_item sml_text"> {{ question.user_account.user }}</p>
      </div>
    </div>
  {% endfor %}
  </div>
  <p class="question_footer">Browse the <a href="{% url 'questions:paginated' %}" class="inline_link">complete list of questions</a>, or <a href="#" class="inline_link">popular tags</p>
{% endblock page_content %}
